<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
    	<h1>Bienvenido a <%= title %></h1>
    	<p>El portal donde podrás jugar...</p>
    	<p>Y donde podrás crear tus propios juegos!!!</p>
    </header>
    <section>
    	<p><a href="/quizes/question">Comienza a jugar ahora!!!</a></p>
    </section>
    <footer>
    	
    </footer>
  </body>
</html>
