<!DOCTYPE html>
<html lang="ee">
<head>
	<meta charset="UTF-8">
	<title>Preguntas</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div id="page-wrap">
	<header class="main" id="h1">
		<h2>miQuiz: el juego de las preguntas</h2>
	</header>
	<nav class="main" id="n1" role="navigation">
		<span><a href="/">Inicio&nbsp;</a></span>
		<span><a href="/quizes/question">&nbsp;Preguntas</a></span>
	</nav>
	<section class="main" id="s1">
		<%- body %>
	</section>
	<footer class="main" id="f1">
		<span><a href="http://es.wiquipedia.org/wiki/Quiz">¿Que es un Quiz?&nbsp;</a></span>
		<span><a href="https://github.com/MarcelinoPerez/miQuiz">&nbsp;Repositorio de miQuiz en GitHub.</a></span>
	</footer>
</div>
</body>
</html>